<div class="modal fade" id="releaseModal136" tabindex="-1" aria-labelledby="releaseModalLabel136" aria-hidden="true">
  <div class="modal-dialog">
    <form>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="releaseModalLabel136">Release Parking Spot</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Spot ID</label>
            <input type="text" class="form-control" value="136" readonly>
          </div>
          <div class="mb-3">
            <label class="form-label">Vehicle Number</label>
            <input type="text" class="form-control" value="NY310921" readonly>
          </div>
          <div class="mb-3">
            <label class="form-label">Parking Time</label>
            <input type="text" class="form-control" value="2024-06-20 10:30" readonly>
          </div>
          <div class="mb-3">
            <label class="form-label">Total Cost</label>
            <input type="text" class="form-control" value="20" readonly>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger">Release</button>
        </div>
      </div>
    </form>
  </div>
</div>